@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/khula/v7/OpNCnoEOns3V7FcJ.ttf) format('truetype');
}
@font-face {
  font-family: ChronicleDisplay;
  src: url(.././fonts/ChronicleDisplayRoman.abfcdb14bb9b84b8bbdbc0c5bedf5072.otf) format("opentype");
}
@font-face {
  font-family: Gilroy;
  src: url(.././fonts/Gilroy-ExtraBold.0094146a0505298ed06a0ef3af075f2e.otf) format("opentype");
}
@keyframes topDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes leftRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(10px);
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  min-height: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}
ul li {
  padding-right: 20px;
}
ul li:hover a {
  opacity: 1;
  transition: opacity 0.5s ease;
}
ul li:hover a:before {
  visibility: visible;
  transform: scaleX(1);
}
ul li a {
  position: relative;
  opacity: 0.8;
}
ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.main-container {
  width: 100%;
  background: #0b1d26;
  color: #fff;
  font-family: 'Khula', sans-serif;
}
h4 {
  color: #FBD784;
  text-transform: uppercase;
  font-size: 1rem;
}
h4:before {
  content: '';
  background-color: #FBD784;
  display: inline-block;
  width: 4rem;
  height: 2px;
  margin-right: 10px;
  vertical-align: middle;
}
.logo {
  position: relative;
  font-family: ChronicleDisplay, sans-serif;
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
@keyframes gradient-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.top-container {
  width: 100%;
  min-height: 104rem;
  background-color: #0b1d26;
  background-image: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%), linear-gradient(180deg, rgba(11, 29, 38, 0) 63%, #0B1D26 90%), url(.././img/hiking3.84d982c3d97b725439f770bb54da03d4.webp), url(.././img/hiking2.445bc99d8d52d036a3d0c63b9f85c787.webp), url(.././img/hiking1.08a2c867b40f6f54c16448cce412a938.webp);
  background-position: 0 0, 0 100%,
    top 44rem center,
    top 26rem center,
    top center;
  background-size: 100% 55%, 100% 85%, 100% 60%;
  background-repeat: no-repeat;
}
.top-container_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3rem 4.4rem;
}
.top-container ul {
  display: flex;
  font-size: 1.2rem;
}
.top-container_account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}
.top-container_account svg {
  margin-right: 8px;
}
.top-container .main-content {
  position: relative;
  display: flex;
  padding: 4.72rem 4.44rem 0;
  justify-content: space-between;
  align-items: center;
}
.top-container .main-content_social ul {
  display: flex;
  flex-direction: column;
}
.top-container .main-content_social ul li {
  padding-bottom: 20px;
}
.top-container .main-content .social_header {
  writing-mode: vertical-rl;
}
.top-container .main-content .scroll-down {
  text-transform: uppercase;
  cursor: pointer;
}
.top-container .main-content .scroll-down__button {
  vertical-align: top;
  transition: all 1s ease;
  animation: 2s infinite topDown;
}
.top-container .main-content_header {
  width: 52.7rem;
}
.top-container .main-content_header h1 {
  font-family: ChronicleDisplay, sans-serif;
  font-size: 4.8rem;
  text-transform: capitalize;
  margin: 1.6rem 0;
}
.top-container .main-content_slider ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.2rem;
  position: fixed;
  right: 4.44rem;
  top: 31%;
}
.top-container .main-content_slider ul li {
  border-right: 1px solid #fff;
  padding-top: 20px;
  transition: all 1s ease;
}
.top-container .main-content_slider ul li.active {
  border-width: 4px;
  font-size: 1.4rem;
}
.page-one,
.page-two,
.page-three {
  padding: 3.8rem 12.72rem;
  display: flex;
}
.page-one .page_content,
.page-two .page_content,
.page-three .page_content {
  flex: 2;
  padding: 7.7rem 6.3rem 8.3rem 7.7rem;
}
.page-one .page_image,
.page-two .page_image,
.page-three .page_image {
  flex: 1;
}
.page-one .page_image img,
.page-two .page_image img,
.page-three .page_image img {
  width: 30rem;
  height: 40rem;
}
.page-one h2,
.page-two h2,
.page-three h2 {
  font-weight: 600;
  font-size: 3.55rem;
  font-family: ChronicleDisplay, sans-serif;
  margin: 1.6rem 0;
}
.page-one p,
.page-two p,
.page-three p {
  font-weight: 700;
  line-height: 1.7rem;
}
.page-one .read-more,
.page-two .read-more,
.page-three .read-more {
  color: #FBD784;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}
.page-one .read-more__button,
.page-two .read-more__button,
.page-three .read-more__button {
  vertical-align: middle;
  animation: 2s infinite leftRight;
}
.page-one:before,
.page-two:before,
.page-three:before {
  content: '01';
  position: absolute;
  font-weight: bold;
  font-size: 13.3rem;
  opacity: 0.1;
  font-family: Gilroy, sans-serif;
}
.page-two .page_content {
  order: 2;
}
.page-two:before {
  content: '02';
  right: 46%;
}
.page-three:before {
  content: '03';
}
.page-one {
  margin-top: -25rem;
}
footer {
  display: flex;
  padding: 3.5rem 4.4rem;
}
footer .big-column {
  flex: 3;
}
footer .small-column {
  flex: 1;
}
footer .slogan {
  margin: 1.1rem 0 7.4rem;
  width: 30%;
  font-weight: 700;
}
footer .copyright {
  color: #b1b1b1;
}
footer header {
  color: #FBD784;
  font-size: 1.3rem;
  line-height: 1.78rem;
  font-weight: 700;
}
footer ul li {
  margin: 1.1rem 0;
}
.burger-menu {
  display: none;
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}
.b-nav {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(11, 29, 38, 0.95);
}
.b-nav:not(.open) {
  visibility: hidden;
}
.b-nav li {
  list-style-type: none;
  padding: 10px;
  text-align: left;
  transform: translateX(-250px);
}
.b-nav li:not(.open) {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideOutLeft;
}
.b-nav li:first-child {
  padding-top: 120px;
}
.b-nav.open {
  visibility: visible;
}
.b-nav.open li {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
}
.b-link {
  background: transparent;
  border-left: whitesmoke solid 2px;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: auto;
  padding-left: 10px;
}
.b-link:hover,
.b-link--active {
  border-left: whitesmoke solid 2px;
  padding-left: 30px;
}
.b-menu {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
  transition: all 0.4s ease;
  user-select: none;
  width: 60px;
  z-index: 12;
}
.b-bun {
  background: whitesmoke;
  position: relative;
  transition: all 0.4s ease;
}
.b-bun--top {
  height: 2px;
  top: 0;
  width: 25px;
}
.b-bun--mid {
  height: 2px;
  top: 8px;
  width: 25px;
}
.b-bun--bottom {
  height: 2px;
  top: 16px;
  width: 25px;
}
.b-container {
  height: 60px;
  right: 30px;
  position: absolute;
  top: 15px;
}
.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: whitesmoke;
}
.b-container.open .b-main {
  border: whitesmoke solid 2px;
}
.b-container.open .b-bun--top {
  background: whitesmoke;
  top: 9px;
  transform: rotate(45deg);
}
.b-container.open .b-bun--mid {
  opacity: 0;
}
.b-container.open .b-bun--bottom {
  background: whitesmoke;
  top: 5px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .page-one,
  .page-two,
  .page-three {
    padding: 3rem 10rem 3rem 5rem;
  }
  .page-one .page_content,
  .page-two .page_content,
  .page-three .page_content {
    padding: 10px 20px;
  }
  .top-container .main-content_slider ul {
    right: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .page {
    flex-direction: column;
  }
  .page_content {
    order: 1;
  }
  .page-one .page_image img,
  .page-two .page_image img,
  .page-three .page_image img {
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }
  .page-one .page_image img {
    object-position: bottom;
  }
  .top-container .main-content_header h1 {
    font-size: 3rem;
  }
  .main-content_social {
    margin-right: 20px;
  }
  .top-container .main-content {
    padding: 7rem 4.44rem 0;
  }
  footer .slogan {
    margin: 1.1rem 0 1.4rem;
    width: 80%;
  }
  .copyright {
    margin-bottom: 10px;
  }
  .small-column {
    margin-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .top-container ul,
  .top-container_account,
  .main-content_social,
  .main-content_slider {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  footer .slogan {
    width: 100%;
    margin: 10px 0;
  }
  .page-one .page_image img,
  .page-two .page_image img,
  .page-three .page_image img {
    width: 90%;
    height: 18rem;
  }
  .page-one h2,
  .page-two h2,
  .page-three h2 {
    font-size: 2.5rem;
  }
  .page-one,
  .page-two,
  .page-three {
    padding: 3rem 4rem 3rem 5rem;
  }
}

